<div class="container">
    <table>
        <tr>
            <th>_id</th>
            <th>Name</th>
            <th>Rate</th>
        </tr>
        {{#each appliance}}
        <tr>
            <td><a href="/meters/{{id}}">{{id}}</a></td>
            <td>{{name}}</td>
            <td>{{rate}}</td>
        </tr>
        {{/each}}
    </table>
</div>