<div class="container">
    <center>
        <h3>Electricity Appliances</h3>
    </center>
    <table>
        <tr>
            <th>_id</th>
            <th>Name</th>
            <th>Rate</th>
        </tr>
        {{#each appliance}}
        <tr>
            <td><a href="/meters/{{id}}">{{id}}</a></td>
            <td>{{name}}</td>
            <td>{{rate}}</td>
        </tr>
        {{/each}}
    </table>

    <div class="col-12" id="home">
        <form action="/home" method="GET">
            <button type="submit" class="btn btn-primary"><em>Home</em></button>
        </form>
    </div>
</div>