<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="elec">
                <form action="/streets" method="GET">
                    <button type="submit" class="btn btn-primary"><em>Streets</em></button>
                </form>
            </div>
        </div>
    </div>
</div>