<h2>Streets</h2>

<table>
	<tr>
		<th>Name</th>
		<th>_id</th>
	</tr>
	{{#each streets}}
	<tr>
		<td>
			{{name}}
		</td>
		<td>
			<a href="/meter/{{id}}">Meters in street</a>
		</td>
	</tr>
	{{/each}}
</table>